include/glm/build

Advanced-OpenGL/.vs
Advanced-OpenGL/Debug
Advanced-OpenGL/x64/Debug/*.ilk
Advanced-OpenGL/x64/Debug/*.pdb
Advanced-OpenGL/Depth testing/x64/Debug

Advanced-OpenGL/Stencil testing/x64/Debug

Advanced-OpenGL/Blending/x64/Debug

Advanced-OpenGL/Framebuffers/x64/Debug

Advanced-OpenGL/Framebuffers_2/x64/Debug

Advanced-OpenGL/Cubemaps/x64/Debug

Advanced-OpenGL/Advanced-GLSL/x64/Debug

Advanced-OpenGL/Geometry-Shader/x64/Debug

Advanced-OpenGL/Geometry-Shader_2/x64/Debug

Advanced-OpenGL/Geometry-Shader_Normal/x64/Debug